extends layout

block content
	div.row
		div.col-md-4.centered.text-center
			h1.bottom-margin20.top-margin0= 'Ask a Question'
			if error
				p= error
			form(method="post")
				div
					//- span Question:
					textarea.form-control(rows="3", name="question", placeholder="What's your question?")
					//- input.form-control(type="text", name="question", placeholder="What's your question?", value=question)
				br 
				div.bottom-margin
					//- span Answer 1:
					input.form-control(type="text", placeholder="Answer 1", name="answer[1]")
				div.bottom-margin
					//- span Answer 2:
					input.form-control(type="text", placeholder="Answer 2", name="answer[2]")
				div#add.bottom-margin
					//- span Add Answer:
					input.form-control(type="text", placeholder="Add another answer...")
				div.checkbox.text-left.bottom-margin20
					input(name="multiple" type="checkbox") 
					|Allow user to select multiple answers
				button(type="submit" class="btn btn-primary") Submit
			//- a(href='/') Home

block scripts
	script(type='text/javascript').
		var number = 3;
		$('body').on('change','#add input', function(){
			$(this).attr('name', 'answer['+number+']')
			$("#add span").text('Answer '+number);
			number++;
			var total='<div id="add" class="bottom-margin"><input type="text" class="form-control" placeholder="Add another answer..."></div>';

			$("#add").after(total).removeAttr('id');
			$("#add input").focus();
		})