extends layout

block content
	div.row
		div.col-md-6.col-md-offset-3
			h1= 'Signup'
			if error
				p= error
			form(method="post")
				div
					span Username:
					input.form-control(type="text", name="username", value=username)
				div
					span Email:
					input.form-control(type="text", name="email", value=email)
				div
					span Password:
					input.form-control(type="password", name="password")
				div
					span Confirm Password:
					input.form-control(type="password", name="password2")
				br
				div.text-center
					button.btn.btn-primary(type="submit") Submit

